:root {
    --main-calm-bg: #ffe5d9;
    --dark-accent: #9d8189;
    --links-nav: #f4acb7;
    --main-bright-bg: #ffcad4;
    --main-final-bg: #d8e2dc;
}

img {
    border: none;
    max-width: 100%;
}

* {
    font-family: Hack-ZeroSlash, monospace;
    color: var(--dark-accent);
    font-size: 20px;
    border: none;
    margin: auto;
    padding: 0px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--links-nav);
    border-bottom: dashed var(--dark-accent);
    font-size: 30px;
    margin-bottom: 30px;
}


.nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.right, .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-right: 50px;
}
.left {
    margin-left: 50px;
}
#logo img{
    width: 50px;
    border-radius: 50%;
    height: auto;
    object-fit: contain;
}

.link a{
    text-decoration: none;
    color: var(--dark-accent);
    font-size: 20px;
}

.link a:hover {
    text-decoration: underline;
    font-weight: bolder;
}


ul {
    list-style: none;
}


.welcome-section {
    width: 100%;
    height: 100vh;
    background-color: var(--main-final-bg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.welcome-section img {
    max-width: 250px;
    height: auto;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed var(--dark-accent);
    max-width: 600px;
    background: var(--main-calm-bg);
}



h1 {
    font-size: 70px;
    text-shadow: 2px 2px 2px var(--links-nav);
    padding: 20px;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px 2px var(--links-nav);
    padding: 20px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.projects-section {
    text-align: center;
    background-color: var(--main-calm-bg);
    display: flex;
    flex-direction: column;
}

.projects {
    width: 250px;
    height: 250px;
    border: dashed var(--dark-accent);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.call-to-action {
    width: 75%;
    text-align: center;
    border: dashed var(--dark-accent);
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: var(--main-final-bg);
}

.footer {
    background-color: var(--main-bright-bg);
    text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }