:root {
    --main-calm-bg: #c4b7cb;
    --dark-accent: #545c52;
    --links-nav: #f2c57c;
    --main-bright-bg: #bfedef;
    --main-final-bg: #98e2c6;
}

* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border: none;
    max-width: 100%;
}
body {
    font-family: Hack-ZeroSlash,monospace;
    color: var(--dark-accent);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--links-nav);
    border-bottom: double var(--dark-accent);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        var(--main-calm-bg),
        var(--main-bright-bg),
        var(--main-calm-bg)
        );
}

h1 {
    font-size: 70px;
    text-shadow: 2px 2px 2px var(--dark-accent);
    color: var(--main-calm-bg);
}

h2 {
    font-size: 30px;
    color: var(--main-bright-bg);
    text-shadow: 2px 2px 2px var(--dark-accent);
}
p {
    font-size: 40px;
}

.projects-section {
    text-align: center;
    background-color: var(--main-calm-bg);
}

.call-to-action {
    width: 75%;
    text-align: center;
    border: double var(--dark-accent);
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-final-bg);
}


.
@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }(254,251,234)